body{
    background: linear-gradient(to left,rgb(1, 179, 155), rgb(0, 255, 55));
    padding: 20px;
}

input{
    outline: none;
    cursor: pointer;
}

#buscador{
    height:40px;
}

::placeholder{
    color: #333;
}

#alert-danger{
    height:40px;
}

#card{
    height:430px;
}

#spinner{
    margin-top: 180px;
}
