body{
    background: linear-gradient(to left, rgb(176, 179, 1), rgb(0, 255, 55));
    padding: 20px;
}

input{
    outline: none;
    cursor: pointer;
}

#buscador{
    height:40px;
}

::placeholder{
    color: #333;
}

#alert-danger{
    height:40px;
}

#card{
    height:auto;
}

#stats h5{
    margin-bottom:60px;
}

#spinner{
    margin: 40px auto;
}
